
.child {
  height: 100%;
  margin-bottom: -50px; /* maximum width of scrollbar */
  padding-bottom: 50px; /* maximum width of scrollbar */
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: content-box;
}
p {
  white-space: nowrap;
}